.search-input {
    padding: 8px;
    width: 300px;
    border-radius: 4px 0 0 4px;
}

.search-btn {
    padding: 8px;
    border-radius: 0 4px 4px 0;
}

#tables {
    font-family: "Roboto", sans-serif !important;
}

tr:hover {
    background-color: #f2f2f2;
    /* Warna latar belakang saat dihover */
}

.dtr-control {
    /* background: #fff !important; */
    box-shadow: none !important;
}

/* Warna latar belakang tabel */
/* Ubah #ffffff menjadi kode warna latar belakang putih yang Anda inginkan */
table {
    background-color: #ffffff;
}

thead {
    background-color: rgba(14, 97, 199, 0.7) !important;
    color: #fff !important;
}

thead > tr:hover {
    background-color: rgba(14, 97, 199, 0.4) !important;
    color: #fff !important;
}

tfoot {
    background-color: rgba(14, 97, 199, 0.7) !important;
    color: #fff !important;
}

tfoot > tr:hover {
    background-color: rgba(14, 97, 199, 0.4) !important;
    color: #fff !important;
}

.jumbotrons {
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(29 48 69);
}
